{
  "id": "2023-chrome-002",
  "year": 2023,
  "collection": "Chrome",
  "number": "2",
  "title": "Mon Mothma",
  "description": "Mon Mothma was a Senator from Chandrila. After Chancellor Sheeve Palpatine seized power and declared himself Emperor, Mon Mothma worked with allies in secret to create the Alliance to Restore the Republic. She took the bold step of publicly denouncing Palpatine. That made her a target, but also a leader of the growing Rebellion.",
  "affiliation": ["Rebel Alliance"]
}
