{
  "id": "2023-chrome-003",
  "year": 2023,
  "collection": "Chrome",
  "number": "3",
  "title": "K-2SO",
  "description": "K-2S0 was built as an Imperial Security Droid. Captured and reprogrammed to serve the Rebel Alliance, K-2S0 became the companion of Rebel spy Cassian Andon The pair recruited Jyn Erso in their effort to obtain the Death Star plans. K-2S0 joined Cassian and Jyn for the Raid on Scarif. The Droid sacrificed himself so that Jyn and Cassian could secure the plans.",
  "affiliation": ["Galactic Empire"]
}
