{
  "id": "2023-chrome-004",
  "year": 2023,
  "collection": "Chrome",
  "number": "4",
  "title": "Saw Gerrera",
  "description": "Saw Gerrera was notorious for battling the Separatists during the Clone Wars. After the rise of the Galactic Empire, his faction of rebels were labeled as extremists. Luthen Rael met with Gerrera, who refused to cooperate with former Separatist Anto Kreegyr. Rael noted the need for the Rebel factions to work together, even as they agreed that Kreegyr's failure would be better for the Rebellion.",
  "affiliation": ["Rebel Alliance"]
}
