{
  "id": "2023-chrome-007",
  "year": 2023,
  "collection": "Chrome",
  "number": "7",
  "title": "Reva",
  "description": "Reva was the true name of the Third Sister, one of the Imperial Inquisitors that hunted down Jedi who had escaped Order 66. Reva had an ambitious drive to capture Obi-Wan Kenobi. Having stared down her enemies, Reva's talents as a survivor were tested to their limits. After attempting to kill young Luke Skywalker on Tatooine, Reva managed to see the error of her ways.",
  "affiliation": ["Galactic Empire"]
}
