{
  "id": "2023-chrome-008",
  "year": 2023,
  "collection": "Chrome",
  "number": "8",
  "title": "The Grand Inquisitor",
  "description": "The leader of the elite Force-sensitive Imperial Inquisitors that hunted down escaped Jedi after Order 66, the Grand Inquisitor took his orders directly from Darth Vader himself. Like his superior, the Grand Inquisitor is an intimidating figure wielding a red, double-bladed Lightsaber, and exacting mercy for no one. He disagreed with Reva's Fixation on Obi-Wan Kenobi, and paid the price when she stabbed him.",
  "affiliation": ["Galactic Empire"]
}
