{
  "id": "2023-chrome-009",
  "year": 2023,
  "collection": "Chrome",
  "number": "9",
  "title": "Fifth Brother",
  "description": "The Fifth Brother was one of the Inquisitors that served the Galactic Empire by hunting down Force-sensitive survivors. He closely followed the orders of the Grand Inquisitor, and did not abide deviations from their leader's plans. When Reva assumed command of the group, the Fifth Brother was skeptical that she had received her orders directly from Darth Vader.",
  "affiliation": ["Galactic Empire"]
}
