{
  "id": "2023-chrome-010",
  "year": 2023,
  "collection": "Chrome",
  "number": "10",
  "title": "Fourth Sister",
  "description": "Like her fellow Imperial Inquisitors, the Fourth Sister wielded a double-bladed red Lightsaber as she worked to ruthlessly track down fugitive Jedi. She took part in the hunt for Obi-Wan Kenobi, and was present when Reva asserted that she would take over leadership of the Inquisitorius.",
  "affiliation": ["Galactic Empire"]
}
