{
  "id": "2023-chrome-012",
  "year": 2023,
  "collection": "Chrome",
  "number": "12",
  "title": "Beru Lars",
  "description": "Beru Lars was the wife of Owen Lars. She and Owen raised Luke Skywalker on Tatooine after Obi-Wan Kenobi hid the infant boy with them. When Reva, the Third Sister, went to the Lars moisture farm in search of the boy, Beru and Owen fought valiantly to protect him. As Luke grew up, Beru would sympathize with his adventure-seeking nature.",
  "affiliation": ["Independent"]
}
