{
  "id": "2023-chrome-013",
  "year": 2023,
  "collection": "Chrome",
  "number": "13",
  "title": "Haja Estree",
  "description": "Haja Estree was a con-man that pretended to be a Jedi. His goals weren't malicious, as he actually helped the people from whom he accepted payment. Estree ended up being a source of help to Obi-Wan Kenobi as he worked with the refugee network called the Hidden Path.",
  "affiliation": ["Rebel Alliance"]
}
