{
  "id": "2023-chrome-014",
  "year": 2023,
  "collection": "Chrome",
  "number": "14",
  "title": "Tala Durith",
  "description": "Tala Durith was an Imperial officer, or at least she appeared to be. She used her position to fight back against the Galactic Empire by helping refugees and fugitive Jedi escape along the Hidden Path. Tala helped Obi-Wan Kenobi and Princess Leia Organa when they fled the Inquisitors. When the Empire attacked the base on Jabiim, Tala sacrificed herself to save the others while fighting Stormtroopers.",
  "affiliation": ["Rebel Alliance"]
}
