{
  "id": "2023-chrome-015",
  "year": 2023,
  "collection": "Chrome",
  "number": "15",
  "title": "Darth Vader",
  "description": "After Anakin Skywalker fell to the dark side through the manipulations of Emperor Palpatine, his new master renamed him Darth Vader. Encased in life-sustained armor after the battle on Mustafar, Vader and his Inquisitors continued their hunt for the Jedi, especially Obi-Wan Kenobi. Kenobi managed to defeat Vader in a duel, and left believing that no trace of Anakin remained in his old friend.",
  "affiliation": [""Galactic Empire""]
}
