{
  "id": "2023-chrome-017",
  "year": 2023,
  "collection": "Chrome",
  "number": "17",
  "title": "Princess Leia Organa",
  "description": "The 10-year-old Princess Leia Organa of Alderaan had an adventurous spirit and tendency to bend the rules. When Leia was kidnapped from her home planet, her father, Bail Organa, called his old ally, Obi-Wan Kenobi, for help. After many close calls, Kenobi rescued the princess and sent her home with Haja Estree. Kenobi visited the Organa family on Alderaan before returning to Tatooine.",
  "affiliation": ["Rebel Alliance"]
}
