{
  "id": "2023-chrome-021",
  "year": 2023,
  "collection": "Chrome",
  "number": "21",
  "title": "Han Solo",
  "description": "Growing up on Corellia, Han Solo fell in with the White Worms gang. He escaped the planet by joining the Imperial Academy. Han's adventures led him to Mimban where he met Chewbacca and joined Tobias Beckett's gang. To make good on a heist gone bad, Han, Chewbacca, and their crew pulled another heist on Kessel, leading to Han's infamous Kessel run in the Millennium Falcon. He and Chewbacca would become well-known smugglers.",
  "affiliation": ["Independent"]
}
