{
  "id": "2023-chrome-024",
  "year": 2023,
  "collection": "Chrome",
  "number": "24",
  "title": "Maul",
  "description": "Before the Clone Wars, Darth Maul was the Sith apprentice of Darth Sidious. During the Battle of Naboo, he fell in battle with Obi-Wan Kenobi. Resurrected by the Nightsisters of Dathomir, Maul became an ongoing galactic threat during the Clone Wars. In secret, he became the power behind the criminal syndicate Crimson Dawn. After Dryden Vos's death, he made Qi'ra the group's public face.",
  "affiliation": ["Crimson Dawn"]
}
