{
  "id": "2023-chrome-025",
  "year": 2023,
  "collection": "Chrome",
  "number": "25",
  "title": "Cal Kestis",
  "description": "Cal Kestis lived on Bracca, working for the Scrapper Guild as a rigger. In truth, he was a Jedi Padawan who was in hiding after he had escaped Order 66. Cal escaped Imperial Inquisitors with the crew of the Stinger Mantis. He joined them to find the Jedi Holocron and protect other surviving Jedi. After narrowly surviving a battle with Darth Vader, Cal destroyed the Holocron to keep it out of Vader's hands.",
  "affiliation": ["Jedi"]
}
