{
  "id": "2023-chrome-028",
  "year": 2023,
  "collection": "Chrome",
  "number": "28",
  "title": "Cere Junda",
  "description": "Cere Junda was a Jedi who survived the horror of Order 66, living in seclusion for years. Saving Cal Kestis from the Imperial Inquisitorius, Junda and the crew of the Stinger Mantis joined together with Kestis to search for, and destroy, the Jedi Holocron that held the locations of Force-sensitive children.",
  "affiliation": ["Jedi"]
}
