{
  "id": "2023-chrome-032",
  "year": 2023,
  "collection": "Chrome",
  "number": "32",
  "title": "Ezra Bridger",
  "description": "The Ghost crew met Ezra Bridger on Lothal. Kanan Jarrus soon began training the Force-sensitive young man in the ways of the Jedi. Ezra became a valued member of the crew of early Rebels against the Galactic Empire. During his time with the Rebels, Ezra dedicated himself to a purpose beyond simply surviving, and saw his opposition to the Empire as a way to honor his parents' sacrifice. He grew as a Jedi, learning to control his powers and use them responsibly.",
  "affiliation": ["Phoenix Squadron"]
}
