{
  "id": "2023-chrome-034",
  "year": 2023,
  "collection": "Chrome",
  "number": "34",
  "title": "Sabine Wren",
  "description": "Mandalorian Sabine Wren served The Ghost with her expertise in demolitions. Flashy and artistic, Sabine formed a close bond with Ezra Bridger. Sabine and fellow Mandalorian Bo-Katan joined together to help destroy an Imperial weapon that targeted Mandalorian armor. After their victory, Sabine gifted the Darksaber to Bo-Katan, which finally united Mandalore.",
  "affiliation": ["Phoenix Squadron"]
}
