{
  "id": "2023-chrome-035",
  "year": 2023,
  "collection": "Chrome",
  "number": "35",
  "title": "Ketsu Onyo",
  "description": "The bounty hunter Kestu Onyo had once been a friend of Sabine Wren at the Imperial Academy. While Sabine fled to join the early Rebels, Ketsu went to work for the Black Sun Syndicate. The two crossed paths while each was pursuing a Droid Courier, and ended up working together to escape the Galactic Empire. Sabine tried to convince Ketsu to join the rebellion, but she declined.",
  "affiliation": ["Independent"]
}
