{
  "id": "2023-chrome-036",
  "year": 2023,
  "collection": "Chrome",
  "number": "36",
  "title": "Kazuda Xiono",
  "description": "Kazuda Xiono lived on Hosnian Prime. He was the son of a New Republic senator. An encounter with Poe Dameron led to Kaz joining the Resistance. Kaz was assigned to the Colossus platform as a spy under the guise of a mechanic. Over time, Kaz made many new allies. He played a major role in getting the Collossus into flying condition, while continuing the battle against the First Order.",
  "affiliation": ["Resistance"]
}
