{
  "id": "2023-chrome-037",
  "year": 2023,
  "collection": "Chrome",
  "number": "37",
  "title": "Neeku Vozo",
  "description": "Neeku Vozo was a mechanic on the Colossus platform. Open and friendly, Neeku became close with Kazuda Xiono. His ability to make friends easily helped Neeku get things done on the station. And when he became drawn into Kaz's work as a spy for the Resistance, he was nervous but nevertheless committed to helping everyone around him. Neeku repeatedly put the needs of others above himself.",
  "affiliation": ["Resistance"]
}
