{
  "id": "2023-chrome-040",
  "year": 2023,
  "collection": "Chrome",
  "number": "40",
  "title": "Synara San",
  "description": "Synara San infiltrated the Colossus as a spy for Kragan Gorr's band of pirates. Over time, she formed friendships with people like Kazuda Xiono and felt her loyalties shifting. When Synara ran afoul of the First Order, Kaz and Neeku worked to get her off the station and back to her pirate allies. Synara thanked her friends by bringing Kragan Gorr's pirates to the Colossus to help fend off a First Order strike.",
  "affiliation": ["Independent"]
}
