{
  "id": "2023-chrome-045",
  "year": 2023,
  "collection": "Chrome",
  "number": "45",
  "title": "Jabba The Hutt",
  "description": "Crime lord Jabba the Hutt was based on Tatooine. Enraged that Han Solo owed him for a shipment, Jabba sent bounty hunters after the smuggler. After Boba Fett brought the carbon-frozen Han to Jabba's Palace, Han's friends organized a rescue attempt. In the desert near the Sarlacc Pit, Luke Skywalker instigated a counterattack that allowed his friends to escape, while Jabba was killed in the process.",
  "affiliation": ["Hutt Clan"]
}
