{
  "id": "2023-chrome-048",
  "year": 2023,
  "collection": "Chrome",
  "number": "48",
  "title": "Anakin Skywalker",
  "description": "Jedi Knight Anakin Skywalker married Senator Padmé Amidala in secret. Anakin was plagued by nightmares of Padmé's death, and his obsession with saving her provided Chancellor Palpatine, who was secretly Darth Sidious, to corrupt him. Anakin fell to the dark side, becoming Darth Vader and betraying the Jedi. Obi- Wan Kenobi severely injured him, leaving him to be encased in life-sustaining armor.",
  "affiliation": ["Jedi"]
}
