{
  "id": "2023-chrome-049",
  "year": 2023,
  "collection": "Chrome",
  "number": "49",
  "title": "Padmé Amidala",
  "description": "The Senator from Naboo, Padmé Amidala secretly married Anakin Skywalker, and was carrying his children. After Anakin fell to the dark side, Padmé tried to reason with him on Mustafar, but he Force-choked her. Obi-Wan Kenobi defeated Anakin and took Padmé for medical help, but she died giving birth to her twins. Kenobi, Yoda, and Bail Organa hid the children, not knowing that Anakin survived as Darth Vader",
  "affiliation": ["Galactic Republic"]
}
