{
  "id": "2023-chrome-053",
  "year": 2023,
  "collection": "Chrome",
  "number": "53",
  "title": "General Hux",
  "description": "General Hux was a devoted follower of Supreme Leader Snoke and a bitter rival of Kylo Ren. A leader of the First Order, Hux commanded Starkiller Base with fanatical furor. When Starkiller Base destroyed Hosnian Prime, it only made Hux more certain of the First Order's superiority. However, the Resistance managed to strike and destroy the Base. Hux and Kylo Ren both managed to escape.",
  "affiliation": ["First Order"]
}
