{
  "id": "2023-chrome-054",
  "year": 2023,
  "collection": "Chrome",
  "number": "54",
  "title": "BB-8",
  "description": "A loyal Astromech Droid, BB-8 flew with Poe Dameron. When Poe was captured by the First Order on Jakku, BB-8 escaped and befriended Rey and Finn. The three fled aboard the Millennium Falcon, and BB-8 agreed to help Finn keep the secret that he wasn't really a Resistance member. When their group reunited with Poe and the Resistance, BB-8 flew with Poe when he destroyed Starkiller Base.",
  "affiliation": ["Resistance"]
}
