{
  "id": "2023-chrome-055",
  "year": 2023,
  "collection": "Chrome",
  "number": "55",
  "title": "Maz Kanata",
  "description": "The smuggler queen of Takodana, Maz Kanata was more than a thousand years old. As an old friend of Han Solo and Chewbacca, she was more than willing to help them as they sought to get BB-8 to the Resistance. She also offered sage council, and Luke Skywalker's lost Lightsaber, first to Rey, and then Finn. When the First Order attacked, she reminded Finn that the Lightsaber could be his weapon.",
  "affiliation": ["Resistance"]
}
