{
  "id": "2023-chrome-060",
  "year": 2023,
  "collection": "Chrome",
  "number": "60",
  "title": "Qui-Gon Jinn",
  "description": "Jedi Master Qui-Gon Jinn and his Padawan Obi-Wan Kenobi were sent to negotiate the Trade Federation's blockade of Naboo, and became embroiled in larger galactic events. On Tatooine, Jinn met young Anakin Skywalker and decided to train the boy in the ways of the Force. During the Battle of Naboo, Jinn fell in a duel with Darth Maul. Kenobi took on the duty of training young Anakin.",
  "affiliation": ["Jedi"]
}
