{
  "id": "2023-chrome-062",
  "year": 2023,
  "collection": "Chrome",
  "number": "62",
  "title": "Sebulba",
  "description": "Sebulba was a ruthless Dug podracer pilot. He was known to cheat whenever he got the chance. That cheating included illegal and dangerous modifications to his own podracer. Going into the Boonta Eve Classic, he didn't perceive young Anakin Skywalker as much of a threat. During the race, he eliminated several opponents. However, he crashed before the end, and Anakin was able to win the race.",
  "affiliation": ["Independent"]
}
