{
  "id": "2023-chrome-067",
  "year": 2023,
  "collection": "Chrome",
  "number": "67",
  "title": "Poe Dameron",
  "description": "Poe Dameron and his closest allies brought terrible news back to the Resistance: somehow, Emperor Palpatine had returned. They were soon off on a hunt for the Sith Wayfinder that would lead them to Exegol. Poe encountered his old friends Zorii Bliss and Babu Frik, who ended up helping the cause. Poe led the fighter attack during the Battle of Exegol, and celebrated with his friends after their victory.",
  "affiliation": ["Resistance"]
}
