{
  "id": "2023-chrome-068",
  "year": 2023,
  "collection": "Chrome",
  "number": "68",
  "title": "Finn",
  "description": "Finn took part in the hunt for the Sith Wayfinder. During the hunt, he began to understand that he was Force- sensitive. He bonded with fellow former Stormtrooper Jannah on Kef Bir. After General Leia Organa's death, he and Poe Dameron became co-leaders of the Resistance. During the Battle of Exegol, Finn led the attack on the Nav Tower. After their victory, he celebrated with his friends on Ajan Kloss.",
  "affiliation": ["Resistance"]
}
