{
  "id": "2023-chrome-069",
  "year": 2023,
  "collection": "Chrome",
  "number": "69",
  "title": "Rey",
  "description": "Rey continued her training in the ways of the Force with General Leia Organa. She continued to feel the pull of Kylo Ren through their strange connection. He revealed the truth that she was Emperor Palpatine's granddaughter, and she and Kylo dueled on Kef Bir where she caused him injury. Rey used her Force powers to heal him. At Exegol, Rey defeated Emperor Palpatine. The reborn Ben Solo healed Rey at the cost of his own life.",
  "affiliation": ["Resistance"]
}
