{
  "id": "2023-chrome-071",
  "year": 2023,
  "collection": "Chrome",
  "number": "71",
  "title": "Kylo Ren",
  "description": "Supreme Leader Kylo Ren fought to find Emperor Palpatine. Palpatine told Kylo to kill Rey; instead, Kylo revealed to her that Palpatine was her grandfather. He tried to bring Rey to his side. After fighting on Kef Bir and injuring Ren, Rey healed him. Ben Solo once again, he joined the Battle of Exegol, vanquishing the Knights of Ren. After the fight, Ben Solo used the Force to heal the wounded Rey, giving his own life in the process.",
  "affiliation": ["First Order"]
}
