{
  "id": "2023-chrome-073",
  "year": 2023,
  "collection": "Chrome",
  "number": "73",
  "title": "Zorii Bliss",
  "description": "A spice runner from Kijimi, Zorii Bliss was a long-time friend of Poe Dameron. In their youth, they had been spice runners together. She still held a great deal of resentment against Poe for leaving their group to join the Resistance. Nevertheless, she helped Poe and his friends with translating the Sith dagger. After Kijimi's destruction, Zorii and Babu Frik took part in the Battle of Exegol.",
  "affiliation": ["Resistance"]
}
