{
  "id": "2023-chrome-074",
  "year": 2023,
  "collection": "Chrome",
  "number": "74",
  "title": "Babu Frik",
  "description": "Droidsmith Babu Frik had a hidden workshop on Kijimi in the planet's Thieves Quarter. He had been friends with Poe Dameron in Poe's youth, and remained friends with Zorii Bliss. Zorii took Poe and his friends to Frik so that he could unlock C-3P0's ability to translate the Sith runes. Poe thought Zorii and Frik died with the destruction of Kijimi, but they arrived to join the Battle of Exegol.",
  "affiliation": ["Resistance"]
}
