{
  "id": "2023-chrome-077",
  "year": 2023,
  "collection": "Chrome",
  "number": "77",
  "title": "Lando Calrissian",
  "description": "When Rey and her friends met with the secret Resistance contact on Pasaana, they were surprised, and in Chewbacca's case, delighted, to discover that it was hero of the Rebellion, General Lando Calrissian. Lando gave them critical information for the hunt for the Sith Wayfinder. Later, Lando and Chewbacca gathered a Citizen Fleet that arrived in time to turn the tide at the Battle of Exegol.",
  "affiliation": ["Resistance"]
}
