{
  "id": "2023-chrome-078",
  "year": 2023,
  "collection": "Chrome",
  "number": "78",
  "title": "Jannah",
  "description": "On the moon of Kef Bir, Finn and his friends planned to gain entrance to the ruins of the second Death Star in order to obtain the Sith Wayfinder. They met Jannah, a former First Order Stormtrooper who defected along with several comrades. Finn and Jannah bonded over their shared history. During the Battle of Exegol, Jannah and her friends joined Finn's team for the assault on the Nav Tower.",
  "affiliation": ["Resistance"]
}
