{
  "id": "2023-chrome-080",
  "year": 2023,
  "collection": "Chrome",
  "number": "80",
  "title": "Nien Nunb",
  "description": "Nien Nunb was a pilot from the planet of Sullust. During the Battle of Endor, he flew with Lando Calrissian aboard the Millennium Falcon and took part in the destruction of the second Death Star. Years later, Nunb joined the Resistance and served as an X-wing pilot. Though he survived the Battle of Starkiller Base and the Battle of Crait, he died during the Battle of Exegol.",
  "affiliation": ["Resistance"]
}
