{
  "id": "2023-chrome-081",
  "year": 2023,
  "collection": "Chrome",
  "number": "81",
  "title": "Hunter",
  "description": "Clone Force 99, also known as the Bad Batch, were the result of Kaminoan experiments to create a specialist unit of clone commandos. Hunter was their leader, as his senses were hyper-developed. He was able to resist Order 66, and continued to lead the team when most of them defected from the new Galactic Empire. The Bad Batch took on mercenary work while evading their old teammate, Crosshair.",
  "affiliation": ["Clone Force 99"]
}
