{
  "id": "2023-chrome-083",
  "year": 2023,
  "collection": "Chrome",
  "number": "83",
  "title": "Tech",
  "description": "Tech was the computer and weapons specialist for the Bad Batch. His knack for data analysis made him advocate for the team getting rid of their inhibitor chips as soon as possible. After learning more from Captain Rex and by witnessing what happened to Wrecker, the team agreed to have the chips removed.",
  "affiliation": ["Clone Force 99"]
}
