{
  "id": "2023-chrome-085",
  "year": 2023,
  "collection": "Chrome",
  "number": "85",
  "title": "Crosshair",
  "description": "The Bad Batch's sniper, Crosshair, didn't have the same resistance to Order 66 as the rest of his teammates. When the Bad Batch defected from the Galactic Empire, only Crosshair stayed. As leader of Elite Squad, he pursued his former teammates. During a mission to Onderon, Crosshair killed one of the soldiers after the trooper questioned his orders to eliminate the civilians they found there.",
  "affiliation": ["Clone Force 99"]
}
