{
  "id": "2023-chrome-089",
  "year": 2023,
  "collection": "Chrome",
  "number": "89",
  "title": "Boba Fett",
  "description": "Boba Fett and Fennec Shand overthrew Bib Fortuna, allowing Fett to become daimyo. Fett soon found himself at odds with others over Mos Espa, including the Pyke Syndicate. Over time, Fett recruited allies like Krrsantan, the Gamorrean fighters, the Mods, and The Mandalorian. Tensions led to a battle in the streets, in which the Pykes and Cad Bane were defeated.",
  "affiliation": ["Fett Crime Family"]
}
