{
  "id": "2023-chrome-090",
  "year": 2023,
  "collection": "Chrome",
  "number": "90",
  "title": "Fennec Shand",
  "description": "Fennec Shand became Boba Fett's loyal right hand after he rescued her from certain death in the sands of Tatooine. She was his chief advisor as they navigated the dangerous political climate of Mos Espa. Fennec played a crucial role in saving Fett from Krrsantan.",
  "affiliation": ["Fett Crime Family"]
}
