{
  "id": "2023-chrome-092",
  "year": 2023,
  "collection": "Chrome",
  "number": "92",
  "title": "Cobb Vanth",
  "description": "When Cobb Vanth came into possession of Boba Fett's armor, he used it to become the marshal of Mos Pelgo. He later teamed with The Mandalorian, Din Djarin, to stop a Krayt Dragon, and gave the Mandalorian the armor. Mando returned to the renamed Freetown, and sought Vanth's help against the Pyke Syndicate. Pyke enforcer Cad Bane gunned Vanth down, but The Modifier was poised to heal him.",
  "affiliation": ["Independent"]
}
