{
  "id": "2023-chrome-095",
  "year": 2023,
  "collection": "Chrome",
  "number": "95",
  "title": "Tusken Warrior",
  "description": "As Boba Fett became more accepted into the tribe, one Tusken Warrior taught him how to fight with a gaderffii stick. Fett was easy for the Warrior to beat at first, but he developed quickly. When Fett led the Tusken in the raid on the Pyke Syndicate's train, the Warrior played a significant role in their victory. The Warrior is presumed to have been killed along with the rest of the tribe on the Syndicate's orders.",
  "affiliation": ["Independent"]
}
