{
  "id": "2023-chrome-096",
  "year": 2023,
  "collection": "Chrome",
  "number": "96",
  "title": "Ahsoka Tano",
  "description": "When The Mandalorian, Din Djarin, went to visit Grogu, he was surprised to find Ahsoka Tano there as well. Ahsoka convinced the Mandalorian that seeing Grogu would disrupt his training. He decided to leave, but left a beskar shirt behind for the little one. Ahoska talked to Luke Skywalker about the situation. She remarked how much Luke was like his father, her original Jedi Master, Anakin Skywalker.",
  "affiliation": ["Jedi"]
}
