{
  "id": "2023-chrome-098",
  "year": 2023,
  "collection": "Chrome",
  "number": "98",
  "title": "Grogu",
  "description": "After Luke Skywalker rescued Grogu from Moff Gideon, the Child left to train with him. Luke feared that the small one would never get over his attachment to The Mandalorian. Luke offered Grogu a choice, and Grogu chose to return to the Mandalorian. During the battle with the Pyke Syndicate, Grogu was a major help. First, he disabled a Scorpenek Droid's leg, and then he made the rampaging Rancor fall asleep.",
  "affiliation": ["Mudhorn"]
}
