{
  "id": "2023-chrome-099",
  "year": 2023,
  "collection": "Chrome",
  "number": "99",
  "title": "Greef Karga",
  "description": "Greef Karga ran the Bounty Hunters Guild on Nevarro. He gave The Mandalorian the job that led him to Grogu. Though Karga and The Mandalorian clashed, the two made their peace to drive Moff Gideon out of Nevarro. Karga became the town's magistrate, trying to oversee and improve the settlement. However, he's not above doing some gunslinging or infiltrating Imperial Remnants with the Mandalorian.",
  "affiliation": ["Independent"]
}
