{
  "id": "2023-chrome-100",
  "year": 2023,
  "collection": "Chrome",
  "number": "100",
  "title": "Migs Mayfeld",
  "description": "Migs Mayfeld was a former Imperial sharpshooter turned gun-for-hire. He once betrayed The Mandalorian during a mission, and The Mandalorian left him a prisoner of the New Republic. Mando later recruited Mayfeld from prison when he was trying to rescue Grogu. Mayfeld helped him infiltrate the refinery on Morak to learn Gideon's location, and the Mandalorian let Mayfeld go.",
  "affiliation": ["Independent"]
}
