{
  "id": "2017-journey-to-the-last-jedi-001",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "1",
  "title": "Qui-Gon's tutelage",
  "description": "Qui-Gon Jinn was a most unusual Jedi, his views and methods often at odds with members of his own Jedi Order. As an equally unorthodox teacher/master, he guided young Obi-Wan Kenobi to full Jedi status and briefly shepherded the all- important destiny of a very young Anakin Skywalker. Anakin would be trained in the ways of the Force by Obi-Wan, bringing the wise teachings and influence of Qui-Gon full circle.",
  "section": "Journey of the Jedi #1 of 25"
}
