{
  "id": "2017-journey-to-the-last-jedi-002",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "2",
  "title": "Anakin's very first lesson",
  "description": "",
  "section": ""
}
