{
  "id": "2017-journey-to-the-last-jedi-002",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "2",
  "title": "Anakin's very first lesson",
  "description": "It took a remarkable Jedi like Qui-Gon Jinn to recognize the unique potential of Anakin Skywalker. Jinn brought the boy to Coruscant for an audience with the Jedi Council. His skills and aptitude were tested by the members of the Jedi Order, with Mace Windu and Yoda taking an especially keen interest. While Anakin's skills were considerable and the Force was indeed strong with him, it was decided that he was too old for the required Jedi training.",
  "section": "Journey of the Jedi #2 of 25"
}
