{
  "id": "2017-journey-to-the-last-jedi-003",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "3",
  "title": "Obi-Wan's Teachings",
  "description": "",
  "section": "Journey of the Jedi #3 of 25"
}
