{
  "id": "2017-journey-to-the-last-jedi-004",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "4",
  "title": "Into the Nightclub",
  "description": "It was a mad, pulse-pounding chase through the skyways and finally the streets of Coruscant, as Jedi bodyguards Obi-Wan Kenobi and Anakin Skywalker pursued a most elusive assassin. Clawdite bounty hunter Zam Wesell tried unsuccessfully to murder Senator Padmé Amidala, then hoped to elude her relentless chasers in a busy nightclub. The two Jedi finally cornered their shape-shifting quarry, but a dart from a rocket-packed stranger brought an abrupt end to Wesell's life before she could be questioned.",
  "section": "Journey of the Jedi #4 of 25"
}
