{
  "id": "2017-journey-to-the-last-jedi-004",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "4",
  "title": "Into the Nightclub",
  "description": "",
  "section": "Journey of the Jedi #4 of 25"
}
