{
  "id": "2017-journey-to-the-last-jedi-005",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "5",
  "title": "Yoda and the Younglings",
  "description": "",
  "section": ""
}
