{
  "id": "2017-journey-to-the-last-jedi-005",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "5",
  "title": "Yoda and the Younglings",
  "description": "Yoda was perhaps the most remarkable Jedi Master who ever lived. He had mentored many great heroes over the long years, Obi-Wan Kenobi and Luke Skywalker among them. But before and during the Clone Wars, Yoda seemed most content instructing numerous Younglings at the Jedi Temple on Coruscant. His Lightsaber-wielding students came from many different planets, and all felt extremely privileged to be in learning sessions with this very special Jedi Master.",
  "section": "Journey of the Jedi #5 of 25"
}
