{
  "id": "2017-journey-to-the-last-jedi-008",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "8",
  "title": "Unconventional Wisdom",
  "description": "During the Clone Wars, Anakin Skywalker astonished all with his unexpected solutions to life-and-death predicaments. Skywalker embraced the notion that rules were meant to be broken, or at least bent madly out of shape, as he successfully undertook various precarious missions on behalf of the Republic. It's not surprising that this unconventional wisdom rubbed off on his youthful Padawan, Ahsoka Tano, who was something of an independent spirit herself.",
  "section": "Journey of the Jedi #8 of 25"
}
