{
  "id": "2017-journey-to-the-last-jedi-009",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "9",
  "title": "Luminara and Barriss",
  "description": "Hailing from the planet Mirial, green-skinned Luminara Unduli was a serious-minded member of the Jedi Council during the waning years of the Galactic Republic. She fought impressively as the Clone Wars progressed, and trained a most proficient Padawan, Barriss Offee. Believed to be slain by her Clone Trooper subordinates during the Great Jedi Purge, Unduli was in truth captured by Imperial forces and used as bait for escaping members of the Jedi Order. She was eventually executed by the Empire.",
  "section": "Journey of the Jedi #9 of 25"
}
