{
  "id": "2017-journey-to-the-last-jedi-010",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "10",
  "title": "Younglings on Ilum",
  "description": "",
  "section": "Journey of the Jedi #10 of 25"
}
