{
  "id": "2017-journey-to-the-last-jedi-011",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "11",
  "title": "A Lesson for the Master",
  "description": "",
  "section": ""
}
