{
  "id": "2017-journey-to-the-last-jedi-012",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "12",
  "title": "Anakin's Fall from Grace",
  "description": "Anakin .Skywalker's moment of truth occurred when he interfered with the great struggle between Mace Windu and Chancellor Palpatine on Coruscant. Enabling Palpatine to triumph, he began his tragic fall from Jedi grace, fully succumbing to the Sith's evil lure as the newly-christened Darth Vader. Soon after, the once great hero of the Republic became an equally powerful instrument of mass murder, known throughout the galaxy as Palpatine's ruthless enforcer.",
  "section": "Journey of the Jedi #12 of 25"
}
