{
  "id": "2017-journey-to-the-last-jedi-012",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "12",
  "title": "Anakin's Fall from Grace",
  "description": "",
  "section": "Journey of the Jedi #12 of 25"
}
