{
  "id": "2017-journey-to-the-last-jedi-013",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "13",
  "title": "Imbalance in The Force",
  "description": "",
  "section": "Journey of the Jedi #13 of 25"
}
