{
  "id": "2017-journey-to-the-last-jedi-015",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "15",
  "title": "Facing a Dark Destiny",
  "description": "",
  "section": "Journey of the Jedi #15 of 25"
}
