{
  "id": "2017-journey-to-the-last-jedi-016",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "16",
  "title": "Obi-Wan's gift",
  "description": "After rescuing Luke Skywalker from Tusken Raiders and evaluating Princess Leia's holographic plea for help, Ben (Obi-Wan) Kenobi proceeded to take the young Tatooine farm boy into his confidence. He explained about Jedi Knights and the galaxy-wide Clone Wars, then bestowed upon Luke a remarkable weapon that once belonged to Skywalker's heroic father. The Lightsaber, with an elegant blade of blue light, would serve fledgling warrior Luke well in upcoming battles.",
  "section": "Journey of the Jedi #16 of 25"
}
