{
  "id": "2017-journey-to-the-last-jedi-016",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "16",
  "title": "Obi-Wan's gift",
  "description": "",
  "section": "Journey of the Jedi #16 of 25"
}
