{
  "id": "2017-journey-to-the-last-jedi-017",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "17",
  "title": "Luke's introduction to the Force",
  "description": "Luke Skywalker learned about the Force from Obi-Wan (Ben) Kenobi, finally observing it in action when Ben used a simple Jedi mind trick to cloud the thoughts of some inquisitive Stormtroopers at Mos Eisley spaceport. A short while later, in the all-important Battle of Yavin, Luke would make use of the Force himself for the very first time, following the voice-echoed advice of Kenobi and firing the fateful shots from his X-wing starfighter that obliterated the Death Star.",
  "section": "Journey of the Jedi #17 of 25"
}
