{
  "id": "2017-journey-to-the-last-jedi-017",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "17",
  "title": "Luke's introduction to the Force",
  "description": "",
  "section": "Journey of the Jedi #17 of 25"
}
