{
  "id": "2017-journey-to-the-last-jedi-018",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "18",
  "title": "Obi-Wan's final teaching",
  "description": "At the climax of the Death Star raid, Princess Leia, General Dodonna and others at Yavin Base were stunned when pilot Luke Skywalker turned off his targeting computer. But Luke was simply embracing the Force, as exhorted by the ghostly voice of his mentor Obi-Wan (Ben) Kenobi. Ben's glowing countenance would return to Luke on planet Dagobah. Along with Master Yoda, he would try to convince the headstrong boy not to take on Darth Vader prematurely.",
  "section": "Journey of the Jedi #18 of 25"
}
