{
  "id": "2017-journey-to-the-last-jedi-019",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "19",
  "title": "Luke Skywalker's Impatience",
  "description": "",
  "section": ""
}
