{
  "id": "2017-journey-to-the-last-jedi-020",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "20",
  "title": "Jedi Master Yoda",
  "description": "At first, star pilot Luke Skywalker thought the little green creature in his midst was a simple inhabitant of swamp planet Dagobah. In truth, this was Yoda, the legendary Jedi Master that Luke had been told to seek out by the ghostly vision of Ben Kenobi. Yoda was quite patient with young Skywalker as the boy's extensive Jedi training commenced, but remained concerned about Luke's unpredictable, impulsive nature. Was he truly the Rebels' last hope, as Obi-Wan Kenobi maintained?",
  "section": "Journey of the Jedi #20 of 25"
}
