{
  "id": "2017-journey-to-the-last-jedi-021",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "21",
  "title": "Darkness in the Cave",
  "description": "During his Jedi training on planet Dagobah, Luke Skywalker noticed an ominous-looking cave and instantly felt an unusual chill. Yoda advised him to leave his weapon behind as he entered the place, but Luke found it difficult to disarm himself. Once inside, he was soon confronted by the startling figure of Darth Vader, and the two began trading furious blows with their Lightsabers. Vader was decapitated...but staring back from within the smashed helmet was the unmistakable face of Luke Skywalker himself. What could it mean?",
  "section": "Journey of the Jedi #21 of 25"
}
