{
  "id": "2017-journey-to-the-last-jedi-022",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "22",
  "title": "Tests in concentration",
  "description": "Training on Dagobah with Yoda, Force-wielder Luke Skywalker tried to develop his latent levitation skills through intense concentration. At first, small stones were raised into the air, and even a somewhat surprised R2-D2 took an unexpected trip upward. But as concern for his friends and hatred of Darth Vader began invading his thoughts, Luke's concentration began to waver. For these and other reasons, Yoda insisted the boy remain on Dagobah and complete his Jedi training before taking on the powerful Dark Lord.",
  "section": "Journey of the Jedi #22 of 25"
}
