{
  "id": "2017-journey-to-the-last-jedi-023",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "23",
  "title": "Luke Skywalker's Failure",
  "description": "Exhorted by Yoda, Luke Skywalker tried to levitate his downed starfighter from the swamp on Dagobah where it had crash-landed. Although the ship began to emerge, it soon slid back again, and Luke was unable to complete what he considered an impossible task. In less than a minute Yoda proved him wrong, raising the starship and gracefully depositing it on shore. Luke couldn't believe what he was seeing...which is precisely why he \"failed,\" according to his teacher.",
  "section": "Journey of the Jedi #23 of 25"
}
