{
  "id": "2017-journey-to-the-last-jedi-023",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "23",
  "title": "Luke Skywalker's Failure",
  "description": "",
  "section": "Journey of the Jedi #23 of 25"
}
