{
  "id": "2017-journey-to-the-last-jedi-024",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "24",
  "title": "Luke's test",
  "description": "On Dagobah, Luke Skywalker faced a difficult dilemma: should he remain and complete his Jedi training with Master Yoda, or take off in the newly-raised starfighter for the Cloud City of Bespin, where friends Han Solo and Princess Leia faced imminent danger? In the end, Luke had no choice but to follow his heart. For better or worse, he left Dagobah to confront the man who had murdered his father, armed with only limited Jedi training, but driven by enormous, righteous passion.",
  "section": "Journey of the Jedi #24 of 25"
}
