{
  "id": "2017-journey-to-the-last-jedi-025",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "25",
  "title": "Luke Skywalker's Final Lesson",
  "description": "After rescuing Han Solo from Jabba the Hutt, Luke Skywalker has a promise to keep and returns to the planet Dagobah. When he arrives, he finds Master Yoda in the twilight of his life. Unsure about his training, Luke turns to Yoda for one final lesson. Not only is Darth Vader Luke's father, but Luke must defeat him to become a full-fledged Jedi Knight. It is Luke who twists Yoda's trial, defeating Darth Vader, while bringing back Anakin Skywalker.",
  "section": "Journey of the Jedi #25 of 25"
}
