{
  "id": "2017-journey-to-the-last-jedi-025",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "25",
  "title": "Luke Skywalker's Final Lesson",
  "description": "",
  "section": ""
}
