{
  "id": "2017-journey-to-the-last-jedi-026",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "26",
  "title": "Aboard the Tantive IV",
  "description": "Escaping from the harsh grasp of Darth Vader, Princess Leia Organa headed toward her home planet Alderaan in the Tantive IV, carrying with her the stolen Death Star readouts. Leia's journey was soon interrupted by her enemy, and the escaping ship was boarded. Rebel allies fought valiantly in a losing battle with Vader's well-armed troopers, and Captain Antilles gave his life in the struggle, even as the Princess devised a desperate plan to preserve the stolen readouts for Rebel Alliance use.",
  "section": "Struggle Against Evil #1 of 25"
}
