{
  "id": "2017-journey-to-the-last-jedi-026",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "26",
  "title": "Aboard the Tantive IV",
  "description": "",
  "section": "Struggle Against Evil #1 of 25"
}
