{
  "id": "2017-journey-to-the-last-jedi-027",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "27",
  "title": "Return to the Rebellion",
  "description": "",
  "section": ""
}
