{
  "id": "2017-journey-to-the-last-jedi-029",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "29",
  "title": "Celebrating the Victory",
  "description": "The historic Battle of Yavin resulted in the destruction of the Death Star, a spectacular blow to the Empire and a dramatic victory for freedom-loving beings everywhere. The Rebel Alliance celebrated this bold step forward by honoring the courageous pilots who made it happen: young farm boy-turned-hero Luke Skywalker and smuggler Han Solo. But would this amazing victory be short-lived, General Dodonna and his Rebel strategists wondered?",
  "section": "Struggle Against Evil #4 of 25"
}
