{
  "id": "2017-journey-to-the-last-jedi-030",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "30",
  "title": "Echo Base Command Center",
  "description": "Anxious to deliver payback on the Rebel Alliance after the destruction of the Death Star, the Empire sent out Probe Droids to learn the location of their hidden operations. A current base was located on ice planet Hoth, and soon the Rebels were faced with a major Imperial attack: giant AT-AT Walkers were unleashed on the valiant freedom fighters. Despite the odds, courageous pilots once again took to their ships for a mostly one-sided battle on the snowy plains.",
  "section": "Struggle Against Evil #5 of 25"
}
