{
  "id": "2017-journey-to-the-last-jedi-032",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "32",
  "title": "Back on the Frigate",
  "description": "",
  "section": "Struggle Against Evil #7 of 25"
}
