{
  "id": "2017-journey-to-the-last-jedi-035",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "35",
  "title": "The Battle Plan",
  "description": "",
  "section": "Struggle Against Evil #10 of 25"
}
