{
  "id": "2017-journey-to-the-last-jedi-037",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "37",
  "title": "The Admiral in Action",
  "description": "",
  "section": "Struggle Against Evil #12 of 25"
}
