{
  "id": "2017-journey-to-the-last-jedi-038",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "38",
  "title": "Sabotaging the Shield",
  "description": "",
  "section": "Struggle Against Evil #13 of 25"
}
