{
  "id": "2017-journey-to-the-last-jedi-038",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "38",
  "title": "Sabotaging the Shield",
  "description": "Han Solo, Princess Leia, and Chewbacca joined forces with the Ewoks. of Endor's forest moon to take on the Empire, their primary goal being the destruction of the shield generator that provided protection for the Death Star in space. A furious ground battle ensued, and even two-legged Imperial AT-ST walkers were called into use. Still, the combined efforts of stalwart Rebels and valiant Ewoks managed to overwhelm the Empire's troops, and the power generator dish was blown to pieces.",
  "section": "Struggle Against Evil #13 of 25"
}
