{
  "id": "2017-journey-to-the-last-jedi-039",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "39",
  "title": "Another Rebel Victory!",
  "description": "",
  "section": ""
}
