{
  "id": "2017-journey-to-the-last-jedi-040",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "40",
  "title": "Hope for the Resistance",
  "description": "Several decades after the defeat of the Galactic Empire, vigilant General Leia Organa once again took blaster in hand to deal with the Empire's equally ruthless successor, the First Order. As a general tn the newly-formed Resistance, she sought the whereabouts and ultimate aid of her brother, Luke Skywalker, who had recently disappeared. New hope manifested Itself in the form of a map that to Skywalker's location, which had found its way into the hands of explorer and Resistance sympathizer Lor San Tekka.",
  "section": "Struggle Against Evil #15 of 25"
}
