{
  "id": "2017-journey-to-the-last-jedi-040",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "40",
  "title": "Hope for the Resistance",
  "description": "",
  "section": "Struggle Against Evil #15 of 25"
}
