{
  "id": "2017-journey-to-the-last-jedi-041",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "41",
  "title": "Skirmish on Takodana",
  "description": "",
  "section": "Struggle Against Evil #16 of 25"
}
