{
  "id": "2017-journey-to-the-last-jedi-043",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "43",
  "title": "Princess turned General",
  "description": "",
  "section": "Struggle Against Evil #18 of 25"
}
