{
  "id": "2017-journey-to-the-last-jedi-044",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "44",
  "title": "The First Order's Threat",
  "description": "",
  "section": "Struggle Against Evil #19 of 25"
}
