{
  "id": "2017-journey-to-the-last-jedi-044",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "44",
  "title": "The First Order's Threat",
  "description": "Mobile ice planet Starkiller Base was armed with a deadly new superweapon, which was utilized by the First Order to annihilate entire planets. With the approval of Supreme Leader Snoke, General Hux turned this destructive power against the Capital of the New Republic, Hosnian Prime, along with four other planets in the system. These worlds were completely annihilated, as were a great portion of the Republic Starfleet.",
  "section": "Struggle Against Evil #19 of 25"
}
