{
  "id": "2017-journey-to-the-last-jedi-045",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "45",
  "title": "Han Solo's old trick",
  "description": "",
  "section": "Struggle Against Evil #20 of 25"
}
