{
  "id": "2017-journey-to-the-last-jedi-046",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "46",
  "title": "Poe in Control",
  "description": "Finn, Han Solo and Chewbacca apprehended the First Order's Stormtrooper commander Captain Phasma at gunpoint, forcing her to deactivate Starkiller Base's protective shields. Having no choice, she complied, enabling Poe Dameron's X-wings to pummel the First Order installation. Even so, Starkiller's superweapon was charging itself up by siphoning power from a nearby sun. Once fully charged, it could fire on and instantly annihilate the Resistance base on D'Qar.",
  "section": "Struggle Against Evil #21 of 25"
}
