{
  "id": "2017-journey-to-the-last-jedi-048",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "48",
  "title": "Destroying Starkiller Base",
  "description": "With shields down and Starkiller Base in a state of chaos, pilot Poe Dameron, leading the Resistance fleet, was able to fly directly into the sun-draining superweapon. He fired a barrage of torpedoes into its thermal oscillator, which started a chain reaction that not only crippled and eventually destroyed the base, but leveled the surrounding terrain as well, finally tearing the planet apart. Their great mission accomplished, the victorious Resistance fighters managed to speed safely away.",
  "section": "Struggle Against Evil #23 of 25"
}
