{
  "id": "2017-journey-to-the-last-jedi-048",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "48",
  "title": "Destroying Starkiller Base",
  "description": "",
  "section": "Struggle Against Evil #23 of 25"
}
