{
  "id": "2017-journey-to-the-last-jedi-050",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "50",
  "title": "A Farewell to Rey",
  "description": "",
  "section": "Struggle Against Evil #25 of 25"
}
