{
  "id": "2017-journey-to-the-last-jedi-052",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "52",
  "title": "Appealing to the Senate",
  "description": "",
  "section": ""
}
