{
  "id": "2017-journey-to-the-last-jedi-053",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "53",
  "title": "Hunting the Assassin",
  "description": "On Coruscant, audacious assassination attempts were made on Senator Padmé Amidala by bounty hunter Zam Wesell, a Clawdite shape-shifter. After failing to slay her target, Wesell was pursued by Jedi bodyguards Anakin Skywalker and Obi-Wan Kenobi across the city-planet. Cornered in a nightclub following a spectacular chase, the hired assassin was felled by an unknown killer's Kaminoan saberdart before she could reveal desperately sought secrets to her Jedi captors.",
  "section": "The Hero's Quest #3 of 20"
}
