{
  "id": "2017-journey-to-the-last-jedi-054",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "54",
  "title": "Mission to Geonosis",
  "description": "An investigating Obi-Wan Kenobi was taken prisoner by Count Dooku and his Separatist allies on planet Geonosis. Although they were forbidden by the Jedi Council to attempt a rescue, Anakin Skywalker and Padmé Amidala disregarded their superiors and headed to the planet themselves. Once there, they fought inhospitable Geonosian locals in a series of skirmishes, but were finally overwhelmed by superior numbers. Along with Obi-Wan, they were held captive for execution in an enormous arena for the entertainment of their enemies.",
  "section": "The Hero's Quest #4 of 20"
}
