{
  "id": "2017-journey-to-the-last-jedi-055",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "55",
  "title": "Meeting Tarkin",
  "description": "Carrying secret information vital to the Republic's war effort, Jedi Master Even Piell and Captain Tarkin were taken prisoner by the Separatists. An elite strike team led by Obi-Wan Kenobi and Anakin Skywalker landed on the planet Lola Sayu and infiltrated its prison, rescuing both inmates. These escapees were led across a perilous planetary landscape, and Piell was eventually mauled by Anooba tracking beasts. But he managed to pass on invaluable Nexus Routes coordinates to Republic allies before he died.",
  "section": "The Hero's Quest #5 of 20"
}
