{
  "id": "2017-journey-to-the-last-jedi-056",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "56",
  "title": "Back to Mandalore",
  "description": "",
  "section": "The Hero's Quest #6 of 20"
}
