{
  "id": "2017-journey-to-the-last-jedi-060",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "60",
  "title": "Stopping Darth Vader",
  "description": "",
  "section": "The Hero's Quest #10 of 20"
}
