{
  "id": "2017-journey-to-the-last-jedi-060",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "60",
  "title": "Stopping Darth Vader",
  "description": "Transformed from heroic Jedi Anakin Skywalker into evil Sith Lord Darth Vader, Obi-Wan Kenobi's former Padawan and surrogate brother retreated to the volcanic world of Mustafar. There, he and Obi-Wan Kenobi fought a spectacular, tragic duel, a mighty struggle that ended with Anakin's crippling defeat. Left for dead by a heartbroken Kenobi, barely-alive Skywalker was retrieved by his evil master, Darth Sidious, and soon after reborn as the fully-armored Darth Vader.",
  "section": "The Hero's Quest #10 of 20"
}
