{
  "id": "2017-journey-to-the-last-jedi-064",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "64",
  "title": "Unlocking the Death Star Plans",
  "description": "",
  "section": ""
}
