{
  "id": "2017-journey-to-the-last-jedi-065",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "65",
  "title": "Recruiting General Kenobi",
  "description": "",
  "section": "The Hero's Quest #15 of 20"
}
