{
  "id": "2017-journey-to-the-last-jedi-067",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "67",
  "title": "Returning the Droids",
  "description": "Captain Solo, Chewbacca and their Millennium Falcon passengers managed to escape Imperial forces and were about to return R2-D2 to Alderaan, when Solo realized that the planet had been destroyed. A short while earlier, Ben Kenobi experienced Alderaan's demise through his Force sensitivity, grimly acknowledging that something terrible had just happened. But the Falcon's crew faced additional, more immediate concerns, as looming right in front of them was the very cause of this tragedy... the planet-killing Death Star battle station.",
  "section": "The Hero's Quest #17 of 20"
}
