{
  "id": "2017-journey-to-the-last-jedi-068",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "68",
  "title": "Rescuing Princess Leia",
  "description": "Drawn into the Death Star by a tractor beam, Luke Skywalker eventually learned that Princess Leia, the same young woman who appeared in hologram, was not only a captive onboard, but was scheduled to be terminated. A hasty effort by Skywalker, Han Solo, and Chewbacca managed to free Leia from her prison cell, and soon they were all battling Stormtroopers. At the same time, Obi-Wan Kenobi took on Darth Vader himself in a significant, life-changing Lightsaber duel.",
  "section": "The Hero's Quest #18 of 20"
}
