{
  "id": "2017-journey-to-the-last-jedi-068",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "68",
  "title": "Rescuing Princess Leia",
  "description": "",
  "section": "The Hero's Quest #18 of 20"
}
