{
  "id": "2017-journey-to-the-last-jedi-069",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "69",
  "title": "In Search of the Jedi Master",
  "description": "Luke Skywalker was exhausted after battling a ferocious wampa on the ice planet Hoth. But before losing consciousness in the snow, he experienced a vision of his seemingly deceased mentor, Ben Kenobi, exhorting him to fly to planet Dagobah. He was told to seek out Yoda, the Jedi Master who had trained Kenobi in the ways of the Force years earlier. Now, would-be Jedi Luke needed to receive the same kind of training.",
  "section": "The Hero's Quest #19 of 20"
}
