{
  "id": "2017-journey-to-the-last-jedi-069",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "69",
  "title": "In Search of the Jedi Master",
  "description": "",
  "section": "The Hero's Quest #19 of 20"
}
