{
  "id": "2017-journey-to-the-last-jedi-070",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "70",
  "title": "The rescue of Han Solo",
  "description": "",
  "section": "The Hero's Quest #20 of 20"
}
