{
  "id": "2017-journey-to-the-last-jedi-073",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "73",
  "title": "Fast Friends",
  "description": "On Jakku, wandering BB-8 encountered a young scavenger named Rey. Instead of trading the Droid in to a local outpost, Rey decided to keep her new \"friend\" around. Meanwhile, on the Star Destroyer Finalizer, defecting Stormtrooper FN-2187 cleverly rescued Poe Dameron from his First Order captors, and the pair managed to escape by stealing a docked TIE fighter. Unfortunately, their ship was swiftly shot down, and it crash-landed on Jakku.",
  "section": "Star Wars: The Force Awakens #3 of 20"
}
