{
  "id": "2017-journey-to-the-last-jedi-074",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "74",
  "title": "Rey, the desert scavenger",
  "description": "A remarkable young scavenger, Rey spent her time collecting junk on planet Jakku and selling it to unscrupulous local dealer Unkar Plutt for profit. She soon crossed paths with the fleeing FN'Q'187, renamed \"Finn\" by missing pilot Poe Dameron, who had crash-landed with Poe on Jakku. Not sure of who to trust, Finn couldn't help lying to the no-nonsense, thug-throttling Rey. Wearing Poe's jacket, he claimed to be a member of the Resistance.",
  "section": "Star Wars: The Force Awakens #4 of 20"
}
