{
  "id": "2017-journey-to-the-last-jedi-075",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "75",
  "title": "Escaping Jakku",
  "description": "",
  "section": "Star Wars: The Force Awakens #5 of 20"
}
