{
  "id": "2017-journey-to-the-last-jedi-076",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "76",
  "title": "Kylo Ren's Rage",
  "description": "On the Finalizer, Kylo Ren was informed by subordinates that the Droid they were pursuing had managed to elude them, aided in its escape by defecting Stormtrooper FN-2187 and some unknown \"girl.\" This news infuriated Ren, who often gave in to bursts of unrestrained anger. Meanwhile, Rey and Finn were busy with much-needed repairs on their escape ship, when a loud \"boom\" interrupted these efforts. Could the First Order have caught up with them that quickly, they wondered?",
  "section": "Star Wars: The Force Awakens #6 of 20"
}
