{
  "id": "2017-journey-to-the-last-jedi-077",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "77",
  "title": "An Unexpected Encounter",
  "description": "Rey and Finn's escape craft was caught in a tractor beam and pulled inside an enormous freighter. They were then greeted by two renowned figures from the past — Captain Han Solo and his Wookiee co-pilot, Chewbacca. Both were elated to be back on their Old ship, and for the first time Rey realized that their emergency escape vessel was in reality the legendary Millennium Falcon. Han soon learned that BB-8 was housing a map to Luke Skywalker, and suddenly took a more focused interest in the young fugitives.",
  "section": "Star Wars: The Force Awakens #7 of 20"
}
