{
  "id": "2017-journey-to-the-last-jedi-077",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "77",
  "title": "An Unexpected Encounter",
  "description": "",
  "section": "Star Wars: The Force Awakens #7 of 20"
}
