{
  "id": "2017-journey-to-the-last-jedi-080",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "80",
  "title": "Maz's band plays on!",
  "description": "Following Han Solo's lead, Rey and Finn followed the smuggler into Maz Kanata's castle. An obvious regular, Han seemed right at home and he was welcomed as such. Settling in for some much needed rest and refreshment, they soaked up the sights of this strange and bustling establishment. Patrons from across the galaxy filled the ancient structure, including an energetic band that kept the place lively and the patrons entertained.",
  "section": "Star Wars: The Force Awakens #10 of 20"
}
