{
  "id": "2017-journey-to-the-last-jedi-081",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "81",
  "title": "The First Order Rallies!",
  "description": "Frustrated by their enemies, ihe First Order decided to make a bold move. After delivering a fiery speech to his troops, General Hux prepared the dreaded superweapon, Starkiller Base, for immediate use. He then fired it across the galaxy, destroying various planets and taking billions of innocent lives. Next, thanks to an informant, First Order TIE fighters travelled to Takodana to Capture BB-8, launching a devastating ground assault.",
  "section": "Star Wars: The Force Awakens #11 of 20"
}
