{
  "id": "2017-journey-to-the-last-jedi-082",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "82",
  "title": "Finn Steps Up",
  "description": "Emerging from the wreckage of her castle, Maz Kanata managed to give Finn Luke Skywalker's Lightsaber, exhorting him to pass it to the one chosen to wield it... Rey. In the meantime, however, as the Battle oi Takodana continued unabated, Finn used the weapon to a kill an attacking Stormtrooper. He was then overpowered by a former squadmate, and finally rescued in the nick of time by Han Solo, who used Chewbacca's bowcaster to take out the trooper.",
  "section": "Star Wars: The Force Awakens #12 of 20"
}
