{
  "id": "2017-journey-to-the-last-jedi-083",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "83",
  "title": "Rey alone!",
  "description": "",
  "section": "Star Wars: The Force Awakens #13 of 20"
}
