{
  "id": "2017-journey-to-the-last-jedi-085",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "85",
  "title": "Formulating the Plan",
  "description": "",
  "section": "Star Wars: The Force Awakens #15 of 20"
}
