{
  "id": "2017-journey-to-the-last-jedi-086",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "86",
  "title": "Infiltrating Starkiller Base",
  "description": "",
  "section": ""
}
