{
  "id": "2017-journey-to-the-last-jedi-086",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "86",
  "title": "Infiltrating Starkiller Base",
  "description": "On Starkiller Base, the captured Rey discovered that she was blessed with Force skills, an unexpected edge she utilized while making her escape. Not long after, the Resistance team of Han Solo, Finn and Chewbacca showed up on Starkiller Base, ready to blow the weapon-planet to dust after first deactivating its protective shields. As usual, ace pilot Poe Dameron had his X-wing fleet waiting for an imminent attack.",
  "section": "Star Wars: The Force Awakens #16 of 20"
}
