{
  "id": "2017-journey-to-the-last-jedi-087",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "87",
  "title": "Reunion with Rey",
  "description": "After her brutal interrogation at the hands of Kylo Ren, Rey used her newly discovered Force abilities to break free. Evading First Order patrols, Rey climbs down a massive shaft opening in the Starkiller Base. It wasn't long before an escaping Rey ran into Han Solo, Chewbacca, and old friend Finn, who had arrived on Starkiller Base to deactivate the shields. They persuaded Captain Phasma to comply with this demand by casually threatening her life; and Solo remained behind to set additional explosive charges. He didn't expect to see his woeful son, Kylo Ren, at the far end of a bridge.",
  "section": "Star Wars: The Force Awakens #17 of 20"
}
