{
  "id": "2017-journey-to-the-last-jedi-088",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "88",
  "title": "Dueling the Dark Side",
  "description": "",
  "section": ""
}
