{
  "id": "2017-journey-to-the-last-jedi-089",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "89",
  "title": "Rey's Victory",
  "description": "",
  "section": "Star Wars: The Force Awakens #19 of 20"
}
