{
  "id": "2017-journey-to-the-last-jedi-090",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "90",
  "title": "Meeting Luke Skywalker",
  "description": "With the fully-connected map now clearly indicating the whereabouts of Luke Skywalker, it only remained for the Resistance to send a team to that location. Rey. co-pilot Chewbacca, and R2-D2 took off in the Millennium Falcon, travelling to a beautiful planet of islands and oceans. Alone, Rey trekked to the peak of a grassy mountain, spotted Skywalker in a hooded robe, and silently offered him his Lightsaber.",
  "section": "Star Wars: The Force Awakens #20 of 20"
}
