{
  "id": "2017-journey-to-the-last-jedi-090",
  "year": 2017,
  "collection": "Journey to The Last Jedi",
  "number": "90",
  "title": "Meeting Luke Skywalker",
  "description": "",
  "section": "Star Wars: The Force Awakens #20 of 20"
}
