{
  "id": "2020-the-rise-of-skywalker-series-2-011",
  "year": 2020,
  "collection": "The Rise of Skywalker Series 2",
  "number": "11",
  "title": "Against the Training Remote",
  "description": ""
}
