{
  "id": "2020-the-rise-of-skywalker-series-2-065",
  "year": 2020,
  "collection": "The Rise of Skywalker Series 2",
  "number": "65",
  "title": "Lando Calrissian's Mission",
  "description": ""
}
