{
  "id": "2020-the-rise-of-skywalker-series-2-082",
  "year": 2020,
  "collection": "The Rise of Skywalker Series 2",
  "number": "82",
  "title": "Drawing out the Life Force",
  "description": ""
}
