{
  "id": "2020-the-rise-of-skywalker-series-2-086",
  "year": 2020,
  "collection": "The Rise of Skywalker Series 2",
  "number": "86",
  "title": "Another Star Destroyer Down",
  "description": ""
}
