{
  "id": "2020-the-rise-of-skywalker-series-2-089",
  "year": 2020,
  "collection": "The Rise of Skywalker Series 2",
  "number": "89",
  "title": "Interrupting the Emperor's Attack",
  "description": ""
}
