{
  "id": "2020-the-rise-of-skywalker-series-2-100",
  "year": 2020,
  "collection": "The Rise of Skywalker Series 2",
  "number": "100",
  "title": "The Twin Suns of Tatooine",
  "description": ""
}
