{
  "id": "2016-chrome-the-force-awakens-001",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "1",
  "title": "Secret Mission",
  "description": "General Leia Organa leads a brave Resistance, sending ace pilot Poe Dameron on a secret mission to Jakku, where he seeks out Lor San Tekka. This old ally of Leia and her brother holds information that can help locate her brother Luke and gain his assistance in restoring peace and justice to the galaxy."
}
