{
  "id": "2016-chrome-the-force-awakens-007",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "7",
  "title": "Kylo Ren's Power",
  "description": "The rumble of a large shuttlecraft precedes Kylo Ren's descent on Tuanul. Trooper FN-2187 has reservations about the mission, but has done his best to mask them, as he knew that whatever the First Order was looking for on that planet, it must have been important if Ren was attending to it personally."
}
