{
  "id": "2016-chrome-the-force-awakens-010",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "10",
  "title": "BB-8 Escapes the First Order",
  "description": "Back at his X-wing starfighter, Poe Dameron needs to get his Droid, and the secret information from Lor San Tekka, back to the Resistance. As the First Order has damaged his ship beyond repair, Poe knows he has no choice. He gives the map of Luke Skywalker's location to BB-8. \"Get as far awayfrom here as you can,\" Poe says. \"I'll come back for you.\" As BB-8 rolls away to safety, Poe runs toward the burning village to see if he can help."
}
