{
  "id": "2016-chrome-the-force-awakens-012",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "12",
  "title": "Captain Phasma Makes Her Rounds",
  "description": "Phasma serves as the third partner in the unofficial command triumvirate of the Star killer operation, alongside Kylo Ren and General Hux. The Starkiller operation is an unprecedented undertaking. requiring the efforts of every service branch of the First Order. Even in such an expansive operation as Starkiller Base, Captain Phasma makes routine inspection rounds on foot, walking dozens of kilometers in a typical day."
}
