{
  "id": "2016-chrome-the-force-awakens-017",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "17",
  "title": "The TIE Fighter Hangar",
  "description": "Poe Dameron and Stormtrooper FN-2187 run to the ship hangar, where the Stormtrooper spots a Special Forces TIE fighter. He takes Poe to the cockpit. Quickly, he powers up the engine. \"I always wanted to fly one of these things,\" Poe says."
}
