{
  "id": "2016-chrome-the-force-awakens-018",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "18",
  "title": "FN-2187 Fires Back",
  "description": "Poe Dameron powers up the TIE fighter engine and navigates the First Order ship into space. The First Order is immediately on the TIE's tail. with the Star Destroyer firing on the escaping fighter. FN-2187 fires back, and takes out an entire line of cannons."
}
