{
  "id": "2016-chrome-the-force-awakens-025",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "25",
  "title": "Answering a Distress Call",
  "description": "As she eats her food portion in the solace of her toppled AT-AT. Rey's attention is drawn to a distressed rumbling sound coming from outside. She runs over a ridge, discovering BB-8 trapped in a net dragged by an angry Teedo riding a huge luggabeast. She calls out to the Teedo to stop hurting the Droid. The Teedo just shouts back angrily. Rey raises her staff menacingly, ready for a fight, but the Teedo just keeps shouting empty threats at her. Rey frees the Droid from the net, with the Teedo remaining belligerent. He rides away from the pair, still shouting back at them."
}
