{
  "id": "2016-chrome-the-force-awakens-027",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "27",
  "title": "Back at Niima Outpost",
  "description": "Rey takes BB-8 to Niima Outpost. \"There's a trader in bay three, might be able to give you a lift wherever you're going,\" she explains. Rey points to the busy landing paddock, but BB-8 refuses to leave Rey, insisting on accompanying her. Tired of arguing with the Droid, Rey decides to go about her business at the outpost with BB-8 tagging along."
}
