{
  "id": "2016-chrome-the-force-awakens-029",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "29",
  "title": "Rey's Incredible Strength",
  "description": "As Rey combats the thugs, Finn watches from afar, alternating between wanting to jump in and help, and watching Rey triumph over the henchman with swift kicks and brisk punches. Rey knocks out the thugs and spins around, looking for any other threats. BB-8 brings Rey's attention to Finn."
}
