{
  "id": "2016-chrome-the-force-awakens-031",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "31",
  "title": "Under Attack",
  "description": "Rey leads Finn and BB-8 toward a nearby shipyard. They need to escape Jakku, and see a sleek new ship that is sure to get them off the planet and away from the First Order troopers. Before they can climb on board, First Order TIE fighters open fire from the sky and destroy the ship."
}
