{
  "id": "2016-chrome-the-force-awakens-033",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "33",
  "title": "Piloting The Millennium Falcon",
  "description": "Rey jumps into the Millennium Falcon cockpit, with Finn claiming the gunner's chair. Rey steers the Falcon between the crashed ships, trying to lose the TIE fighters. Finn manages to shoot down one of the enemy ships, but there is still one TIE close on their tail."
}
