{
  "id": "2016-chrome-the-force-awakens-034",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "34",
  "title": "The First Order in Pursuit",
  "description": "A blast rocks the Millennium Falcon. Rey searches the landscape before her for better cover. She navigates the Falcon into a hollowed-out hull of a crashed Super Star Destroyer in a brave attempt to lose the TIE fighter."
}
