{
  "id": "2016-chrome-the-force-awakens-037",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "37",
  "title": "A Perfect Shot",
  "description": "Rey yanks the controls of the Millennium Falcon and steers the ship out the other end of the Super Star Destroyer into the bright sunlight. She cuts the engines and flips the ship around so Finn's stuck gunner turret is pointed right at the TIE fighter. Finn takes the hint and fires, with the enemy ship exploding in a hail of sparks!"
}
