{
  "id": "2016-chrome-the-force-awakens-038",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "38",
  "title": "A Narrow Escape",
  "description": "The Millennium Falcon's narrow escape from Jakku has damaged the ship's motivator, as a puff of steam bursts from the grate beneath them. Rey jumps down to inspect the damage. "How bad is it?" Finn shouts down to her. "If we want to live? Not good." Rey immediately begins fixing the broken motivator."
}
