{
  "id": "2016-chrome-the-force-awakens-040",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "40",
  "title": "Preparing for the Worst",
  "description": "Rey has almost finished repairing the Millennium Falcon's motivator. but Finn has not been as successful in getting BB-8 to tell him the location of the Resistance base. Finn urges BB-8 to divulge the location coordinates, when every part of the ship suddenly loses power. Rey and Finn run to the cockpit and look out, watching as a massive ship looms above them, pulling their ship into its cargo bay. With no other options, Finn, Rey, and BB-8 hide beneath the ship's grating, hoping to take the Stormtroopers by surprise."
}
