{
  "id": "2016-chrome-the-force-awakens-045",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "45",
  "title": "The Rathtars are Free!",
  "description": "As Han and Chewbacca deal with the physical threats from the Guavian Death Gang and Kanjiklub, Rey and Finn are faced with an escaped rathtar on the loose. As Finn becomes trapped in the coiled legs of the rathtar, Rey debates giving chase, but instead runs to a control panel to monitor the rathtar on a video screen. As she watches it slither through doorway after doorway, she holds her hand over the blast door control, and then — SLAM! Rey closes the blast door right on top of the rathtar, freeing Finn."
}
