{
  "id": "2016-chrome-the-force-awakens-052",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "52",
  "title": "Finn Arranges an Exit",
  "description": "Desperate to find a new path in life, Finn negotiates leaving Takodana with Captain Ithano and First Mate Quiggold, a pair of smugglers and pirates recommended by Maz. Finn fears exposure as a liar not only to Rey, but to the entire Resistance."
}
