{
  "id": "2016-chrome-the-force-awakens-055",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "55",
  "title": "A Mysterious Figure",
  "description": "Confusing nightmarish images flood Rey's mind and she suddenly sees a cloaked figure resting a metallic hand on an Astromech Droid. Then, as quickly as the vision had begun, it stops. Rey is no longer alone, as Maz Kanata is behind her. \"What was that?\" Rey demands. \"It's the Force,\" Maz replies. \"And it is calling to you.\" Rey wants nothing to do with the Lightsaber and runs off. Maz gives the Lightsaber to Finn for safekeeping."
}
