{
  "id": "2016-chrome-the-force-awakens-056",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "56",
  "title": "General Hux's Grand Speech",
  "description": "Across the galaxy. General Hux stands before a massive army of Stormtroopers, delivering a grand speech. Hux is convinced the Senate must be obliterated so The First Order can bring discipline back to the galaxy."
}
