{
  "id": "2016-chrome-the-force-awakens-057",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "57",
  "title": "The Starkiller Weapon Is Activated",
  "description": "Hux gives the command and a blast of destruction burns its way across the galaxy, obliterating the entire solar system that held the New Republic Senate. Now, there is no one left but the Resistance to stand against the First Order."
}
