{
  "id": "2016-chrome-the-force-awakens-059",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "59",
  "title": "Defending the Castle",
  "description": "A terrifying rumble shakes Maz's castle to its foundations as Kylo Ren and the First Order Stormtrooper army land on Takodana. Transports fill the sky as more and more Stormtroopers begin landing and firing on the castle."
}
