{
  "id": "2016-chrome-the-force-awakens-062",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "62",
  "title": "The First Order on the Offensive",
  "description": "While Han, Chewie and Finn fight bravely against the First Order Stormtroopers, they are outnumbered. Kylo Ren continues his search for BB-8 and heads into the forest behind the castle."
}
