{
  "id": "2016-chrome-the-force-awakens-064",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "64",
  "title": "Rey Fights Off The First Order",
  "description": "As BB-8 continues into the forest, Rey turns to fight the invading forces. \"Keep going! I'll fight 'em off!\" she tells the Droid. Rey eliminates a few Stormtroopers with her blaster, while Kylo Ren begins his pursuit."
}
