{
  "id": "2016-chrome-the-force-awakens-067",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "67",
  "title": "Finn Ignites the Lightsaber",
  "description": "Finn battles one well-armored Stormtrooper after another. He ignites the Lightsaber and uses its bright blade to deflect fire from the attacking troopers."
}
