{
  "id": "2016-chrome-the-force-awakens-069",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "69",
  "title": "Our Heroes Outnumbered",
  "description": "For each Stormtrooper Han Solo, Finn, or Chewbacca stop. there are two more to take the soldier's place. They refuse to give up, but they are definitely outnumbered."
}
