{
  "id": "2016-chrome-the-force-awakens-073",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "73",
  "title": "BB-8 Reunited With R2-D2",
  "description": "Now that BB-8 is back at the Resistance base, he finds two of his Droid friends: C-3PO and R2-D2! C-3PO has been rebuilt more times than he cares to remember, and R2-D2 is reserving his energy by staying in low-power mode.. Ever since Luke had left, Artoo hasn't spoken to anyone. BB-8 beeps hopefully at his friend, but Artoo doesn't respond."
}
