{
  "id": "2016-chrome-the-force-awakens-074",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "74",
  "title": "Kylo Ren Interrogates Rey",
  "description": "Kvlo Ren has Rey imprisoned in a cell on Star killer Base, demanding to know more about BB-8 and the information he is carrying. Rey stays silent, struggling against her restraints. Ren falls silent, tapping into Rey's mind with the Force. She pushes back against him. Rey focuses on the connection between them, flooded with images and emotions from Kylo's mind. Kylo pulls away from Rey and leaves the cell, confused and angered by her power."
}
