{
  "id": "2016-chrome-the-force-awakens-079",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "79",
  "title": "Han & Leia Say Good-Bye",
  "description": "The Resistance finalizes their mission: Han Solo, Chewbacca and Finn will travel to the enemy base to take down the weapon's shields from the inside, allowing the Resistance fighters to make their attack."
}
