{
  "id": "2016-chrome-the-force-awakens-081",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "81",
  "title": "Rey's Awakening",
  "description": "Rey feels the Force flowing through her. Addressing the Stormtrooper keeping watch at her cell door, she speaks in a commanding voice: \"You will remove these restraints and leave this cell with the door open.\" To her surprise, the trooper unlocks her shackles and heads out of the cell. \"And you will drop your weapon,\" Rey adds quickly. After he has gone. she collects his discarded blaster and runs from the cell."
}
