{
  "id": "2016-chrome-the-force-awakens-082",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "82",
  "title": "Rey on the Run",
  "description": "Rey continues to search for an escape from Starkiller Base. At the end of a long walkway is a hangar bay full of TIE fighters. She prepares to steal a TIE fighter and fly back to safety. The only problem is the platoon of Stormtroopers between her and the hangar. She knows she is outnumbered, and before she can develop a plan to get past them, a second Stormtrooper platoon approaches from behind her."
}
