{
  "id": "2016-chrome-the-force-awakens-085",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "85",
  "title": "Finn in Charge",
  "description": "Finn confronts his former commander: \"Remember me?\" he asks fiercely. Captain Phasma recognizes him immediately, exclaiming. \"FN-2187!\" \"Not anymore,\" he replies. \"You're taking orders from Finn now.\" Phasma has no choice, and helps them take down the Starkiller's shields."
}
