{
  "id": "2016-chrome-the-force-awakens-088",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "88",
  "title": "Finn & Rey Reunited",
  "description": "Poe Dameron and his fellow pilots enter Starkiller Base's atmosphere and start their attack. Finn hears the X-wing's blasts as they connect with the Starkiller. They have to find Rey soon. Han, Chewbacca, and Finn run toward the base's prison cells - and right into Rey! Together they run to find the Millennium Falcon, but when they reach the surface of the base, they see that the X-wings haven't destroyed the oscillator. The team know they have to help."
}
