{
  "id": "2016-chrome-the-force-awakens-092",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "92",
  "title": "The Duel of Rey and Kylo Ren",
  "description": "With Finn defeated, Rey gathers up all her strength to take on Kylo Ren herself. She ignites the Lightsaber and the two engage in a fierce duel. As the fight continues, she feels the Force flow through her and she becomes stronger, eventually gaining the upper hand."
}
