{
  "id": "2016-chrome-the-force-awakens-093",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "93",
  "title": "Resistance Pilots Take Aim",
  "description": "As the battle rages on in the forest, the red and blue squadrons of the Resistance, including Snap Wexley. see the glow of the detonations rock the Starkiller oscillator from inside their X-wing cockpits."
}
