{
  "id": "2016-chrome-the-force-awakens-094",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "94",
  "title": "Jess \"Testor\" Pava Gives It Everything She's Got",
  "description": ""
}
