{
  "id": "2016-chrome-the-force-awakens-095",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "95",
  "title": "Waiting In Anticipation",
  "description": "The Resistance fighter pilots are fighting hard against The First Order but they are being shot down one by one. At the Resistance base, General Organa and Admiral Statura hope for a miracle."
}
