{
  "id": "2016-chrome-the-force-awakens-096",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "96",
  "title": "The Resistance Succeeds",
  "description": "Inside Starkiller Base, Chewbacca ignites the explosives, providing the Resistance fighters the opening they need. Nien Nunb and other Resistance fighters provide cover, as Poe races toward the damaged oscillator to fire at the burning wreck. The ground surrounding it begins to buckle and collapse as the weapon overheats. With one more blast, Poe destroys the oscillator in a fiery explosion."
}
