{
  "id": "2016-chrome-the-force-awakens-098",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "98",
  "title": "Rey & Finn Rescued",
  "description": "Rey shivers beside Finn in the cold snow. Rey has managed to hold off Kylo Ren, though Finn was badly injured in the fight. Suddenly, they are flooded with light. It is Chewbacca in the Millennium Falcon!"
}
