{
  "id": "2016-chrome-the-force-awakens-099",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "99",
  "title": "Return to the Resistance Base",
  "description": "The Millennium Falcon returns to the Resistance Base. It is a bittersweet reception. Rey has no words to express how sorry she is, but fortunately Leia doesn't need words. The General wraps Rey in a hug. Although they both mourn Han's loss, they take comfort in the fact that the Resistance is safe."
}
