{
  "id": "2016-chrome-the-force-awakens-100",
  "year": 2016,
  "collection": "Chrome The Force Awakens",
  "number": "100",
  "title": "The Climb to Luke",
  "description": "Rey puts the Millennium Falcon down at the base of a lush, green island. She leaves behind her companions, Chewbacca and R2-D2, for the time being and Rey begins the climb."
}
