{
  "id": "2017-the-last-jedi-series-1-001",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "1",
  "title": "Rey",
  "description": "With the power of the Force awakening inside her, Rey travels to the hidden world of Ahch-To, There, she seeks out Luke Skywalker as the last hope of the Resistance."
}
