{
  "id": "2017-the-last-jedi-series-1-015",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "15",
  "title": "C-3PO",
  "description": "The threat of the First Order is of great concern to the ever-worried Protocol Droid C-3PO. He continues to serve General Leia Organa on the bridge of the Resistance cruiser"
}
