{
  "id": "2017-the-last-jedi-series-1-016",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "16",
  "title": "General Hux",
  "description": "Though the Starkiller Base has been destroyed, General Hux's command to fire the devastating weapon has eradicated the New Republic in a single strike. From the bridge of the Finalizer. Hux commands the pursuit of the Resistance."
}
