{
  "id": "2017-the-last-jedi-series-1-018",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "18",
  "title": "Praetorian Guard",
  "description": "As the Supreme Leader of the First Order, Snoke stood atop an evil regime that mirrored many of the dark traditions of the Galactic Empire. As a striking example, Snoke was flanked by Praetorian Guards, crimson-clad guardians encased in ornate armor ready to defend the Supreme Leader from any threat."
}
