{
  "id": "2017-the-last-jedi-series-1-024",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "24",
  "title": "DJ",
  "description": "A thief whose tattered, threadbare clothes and lackadaisical attitude conceal a sharp mind and expert codebreaking skills, DJ believes there's no difference between sides in this new galactic war. Disinterested in any cause other than his own, he proudly defines himself by a cynical motto: \"don't join.\""
}
