{
  "id": "2017-the-last-jedi-series-1-027",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "27",
  "title": "Fathier",
  "description": "Graceful and majestic, the powerful fathiers are bred and raced on the tracks of Canto Bight for sport. These beautiful animals deserve their freedom, but their hard work delights the nch and powerful."
}
