{
  "id": "2017-the-last-jedi-series-1-031",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "31",
  "title": "General Ematt",
  "description": "The dwindling roster of Resistance leadership has led to Major Caluan Ematt taking on the rank of general, and he organizes and leads the exterior defense of the Crait outpost."
}
