{
  "id": "2017-the-last-jedi-series-1-033",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "33",
  "title": "2BB-2",
  "description": "Rolling about the hangar bays of outposts and capital ships, or snug in the astromech sockets of X-wing fighters, BB units work tirelessly to keep the weapons and vessels of the Resistance in top combat condition."
}
