{
  "id": "2017-the-last-jedi-series-1-044",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "44",
  "title": "Bargwill Tomder",
  "description": "An ill-tempered Cloddogran groom, Bargwill Tomder manages the fathiers in Canto Bight. He oversees a small team of urchins — children abandoned on Cantonica by losing gamblers -- whose small size helps them navigate the cramped stables."
}
