{
  "id": "2017-the-last-jedi-series-1-051",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "51",
  "title": "First Order Gunner",
  "description": "With devastating firepower at their fingertips, the First Order gunners crew the heavy weapons emplacements that dot the surfaces of cruisers and installations. Their sleek helmets envelop their senses in high tech data displays that keep them on target."
}
