{
  "id": "2017-the-last-jedi-series-1-052",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "52",
  "title": "Captain Edrison Peavey",
  "description": "A veteran from the Empire, Peavey helms the Star Destroyer Finalizer for General Hux. Older than Hux, Peavey is wary of the younger man's scheming and does not respect him, though he is professional enough to keep his opinion silent."
}
