{
  "id": "2017-the-last-jedi-series-1-058",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "58",
  "title": "Resistance Bomber",
  "description": "Full Technical Name: Slayn & Korpil B/SF-17 heavy bomber.
  
  Now reinforced with new combat craft, the Resistance fleet dispatches hardy bombers into battle with the First Order fleet. Escorted by swift starfighters, these munitions-laden carrier ships drop powerful proton bombs onto their Star Destroyer targets."
}
