{
  "id": "2017-the-last-jedi-series-1-059",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "59",
  "title": "Millennium Falcon",
  "description": "Full Technical Name: Millennium Falcon, modified Corellian Engineering Corporation YT-1300 freighter
  
  An extensively modified Corellian light freighter, the Millennium Falcon is a legend in smuggler circles and is coveted by many for being the fastest hunk of junk in the galaxy."
}
