{
  "id": "2017-the-last-jedi-series-1-061",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "61",
  "title": "First Order Walker",
  "description": "Full Technical Name: First Order All Terrain Heavy Scout (AT-HS) walker
  
  An engineering marvel to behold as it propels itself on its complex leg assemblies, the First Order All Terrain Heavy Scout features reinforced gyro-balance compensators for increased stability, three primary canons, and paired antipersonnel blaster turrets on either side of its pivoting head."
}
