{
  "id": "2017-the-last-jedi-series-1-065",
  "year": 2017,
  "collection": "The Last Jedi Series 1",
  "number": "65",
  "title": "Resistance Cruiser",
  "description": "Stretching over three kilometers in length, the enormous Raddus is General Leia Organa's flagship, and the backbone of the Resistance's fledgling fleet."
}
