{
  "id": "2025-hyperspace-003",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "3",
  "title": "Aurra Sing",
  "franchise": "Star Wars: The Clone Wars",
  "description": "Aurra Sing had a reputation for being a ruthless bounty hunter who would stop at nothing for her quarry. With chalky white skin and an antenna sprouting from her head, it was hard to miss her in a crowd. She was feared for more than that, ready to kill for anyone with enough credits. During the Clone Wars, she took Boba Fett under her wing and tried to nurture the brutality of bounty hunting into him—and even tried her hand at assassinating Padmé Amidala.",
  "location": "Alderaan"
}
