{
  "id": "2025-hyperspace-006",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "6",
  "title": "Captain Typho",
  "franchise": "Star Wars: The Clone Wars",
  "description": "Captain Gregar Typho succeeded Captain Quarsh Panaka as the head of Padmé Amidala's security detail while she was still queen, and then as she made the transition from queen to senator. Loyal and capable, he defended Amidala from many hostile threats and had to devise many a plan to keep her from being assassinated—whether that be from disgruntled miners from one of the moons of Naboo or Separatist leaders like Count Dooku himself.",
  "location": "Alderaan"
}
