{
  "id": "2025-hyperspace-008",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "8",
  "title": "Kayo Organa",
  "franchise": "Obi-Wan Kenobi",
  "description": "As the husband of Duchess Celly Organa and brother-in-law to the Queen of Alderaan, Duke Kayo Organa was an important member of the House of Organa. Along with his wife and son, Niano, he traveled to Aldera and the Royal Palace for a reception with his sister-in-law and the royal family. There, they enjoyed the luxury and food, instead of conversations about slave labor in the Republic and the  do-gooding of Bail Organa.",
  "location": "Alderaan"
}
