{
  "id": "2025-hyperspace-011",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "11",
  "title": "Mon Mothma",
  "franchise": "Star Wars: The Clone Wars",
  "description": "Before she became a lightning rod of resistance and firebrand for political upheaval, Mon Mothma was a senator in the Galactic Senate during the final years of the Republic. Representing her home planet of Chandrila, Mon Mothma worked to curb the unchecked power Chancellor Palpatine wielded during his unprecedented tenure. As a staunch loyalist, she helped whip votes from other like-minded Senators like Bail Organa, Onaconda Farr, and even Padmé Amidala. Together, they sought an end to the war and to place increased checks on Palpatine's power.",
  "location": "Alderaan"
}
