{
  "id": "2025-hyperspace-012",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "12",
  "title": "Naboo Royal Cruiser",
  "franchise": "Star Wars: The Clone Wars",
  "description": "A massive, four-engined J-type diplomatic barge, the Naboo Royal Cruiser was a perfect conveyance for Senator Padmé Amidala as she traveled to Coruscant from her home planet of Naboo and back. Before the beginning of the Clone Wars, while her retinue was traveling in one of these cruisers, Senator Amidala was the subject of an assassination attempt by Zam Wesell. Wesell blew the ship apart and killed Cordé, the Senator's handmaiden and body double instead.",
  "location": "Alderaan"
}
