{
  "id": "2025-hyperspace-013",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "13",
  "title": "Niano Organa",
  "franchise": "Obi-Wan Kenobi",
  "description": "The son of Duchess Celly Organa and Duke Kayo Organa, Niano Organa was a member of the House of Organa and was the cousin of Princess Leia Organa. The two of them had an icy relationship and would often trade barbs when they met. He was accused by his much younger cousin of being a bully and of being rude to Droids, as well as taking after his father.",
  "location": "Alderaan"
}
