{
  "id": "2025-hyperspace-015",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "15",
  "title": "Vect Nokru",
  "franchise": "Obi-Wan Kenobi",
  "description": "A mercenary for hire, Vect Nokru answered the call when the  Inquisitorius needed someone to kidnap the young and precocious Princess Leia Organa right from under the nose of the Alderaanian Royal Family. Snatching her from the woods right outside the royal palace, Nokru and his accomplices whisked the princess to the planet of Daiyu and held her there to bait a trap for Obi-Wan Kenobi. Nokru captured Kenobi briefly, but that proved to be his undoing as the Inquisitors were greatly displeased.",
  "location": "Alderaan"
}
