{
  "id": "2025-hyperspace-047",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "47",
  "title": "Bo-Katan Kryze's Gauntlet starfighter",
  "franchise": "",
  "description": "",
  "location": "Mandalore"
}
