{
  "id": "2025-hyperspace-048",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "48",
  "title": "Duchess Satine Kryze",
  "franchise": "",
  "description": "",
  "location": "Mandalore"
}
