{
  "id": "2025-hyperspace-061",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "61",
  "title": "Anakin Skywalker's Podracer",
  "franchise": "",
  "description": "",
  "location": "Tatooine"
}
