{
  "id": "2025-hyperspace-083",
  "year": 2025,
  "collection": "Hyperspace",
  "number": "83",
  "title": "Naboo N-1 Starfighter",
  "franchise": "",
  "description": "",
  "location": "Tatooine"
}
